<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="shortcut icon" href="../images/icono.svg">

    <title>PELIJOSE</title>

</head>
<body>
    <nav class="menu-container">
        <div class="contendorImg">
            PELIJOSE
        </div>
        <div class="contendorOpciones">
            <ul class="contenedorMenu">
                <li class="contenedorMenu--item"><a href="../index.html">Inicio</a></li>
                <li class="contenedorMenu--item"><a href="./presupuesto.html">Presupuesto</a></li>
                <li class="contenedorMenu--item"><a href="./galeria.html">Galeria</a></li>
                <li class="contenedorMenu--item selecionado"><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>


    <div class="contactos--mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d268.4924714758232!2d-3.7036079586779262!3d40.41670219181632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229fbafa6434b%3A0xcf340dfd87b3c139!2sluinal!5e0!3m2!1ses!2ses!4v1666411684955!5m2!1ses!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Contenedor de Contactos -->

    <div class="container--contactos">
        <div class="contactos--datos">
            <div class="contactos--info">
                <h3 class="contactos--info__title">Contacto</h3>
                <p>Ofrecemos recomendaciones de peliculas y alquiler de peliculas en full HD. Para asegurarte resultados de calidad y siempre con soporte Postventa.</p>
                <div class="contendor--info__items">
                    <div class="contendor--info__item">
                        <img class="info__item--icono" src="../images/ubicacion.svg" alt="">
                        <p>Avenida de Jlo, 33333 Madrid</p>
                    </div>
                    <div class="contendor--info__item">
                        <img class="info__item--icono" src="../images/mail.svg" alt="">
                        <p>contacto@pelisjose.com</p>
                    </div>
                    <div class="contendor--info__item">
                        <img class="info__item--icono" src="../images/telefono.svg" alt="">
                        <p>11888</p>
                    </div>
                </div>
            </div>
            <form action="#" method="GET">
                <div class="contactos--formulario">
                    <h3 class="contactos--info__title">Dinos en que podemos ayudarte</h3>
                    <label >Nombre</label>
                    <input class="contactos--formulario__input" type="text">
                    <label >Correo</label>
                    <input class="contactos--formulario__input" type="text">
                    <label >Mensaje</label>
                    <textarea class="contactos--formulario__input"></textarea>
                    
                    <div >
                        <button class="formulario--contactos__btn" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
            

        </div>
    </div>



    <footer class="contenedor--footer">
        <h3 class="titulo--footer">Confían en nosotros</h3>

        <div class="contenedor--datos__empresa">
            <div class="datos__empresa--item">
                <p><strong>Dirección:</strong>  Avenida de Jlo, 33333 Madrid</p>
                <p><strong>Email:</strong> contacto@pelisjose.com</p>
                <p><strong>Teléfono:</strong> 11888</p>
                <p><strong>Horario:</strong> Lunes a Viernes de 9 a 16</p>
            </div>
            <div class="datos__empresa--item">
                <p><strong>INFORMACIÓN</strong></p>
                <p>Blog de Peliculas</p>
                <p>Proceso de Compra</p>
                <p>Tipos de envío</p>
                <p>Devoluciones</p>
                <p>Términos y condiciones</p>
                <p>Política de privacidad</p>
            </div>
            <div class="datos__empresa--item ocultar">
                <p><strong>AYUDA</strong></p>
                <p>Especialistas en peliculas</p>
                <p>Asesoramiento personalizado</p>
                <p>Servicio Técnico/Postventea</p>
                <p>Contacto</p>
                <p>Opiniones</p>
            </div>

            <div class="datos__empresa--item ocultar">
                <p><strong>SÍGUENOS</strong></p>
                <div class="redes-sociales">
                    <div class="contendor-red">
                        <a href="https://www.facebook.com/"><img class="redsocial--img" src="../images/facebook.png" alt=""></a>
                    </div>
                    <div class="contendor-red">
                        <a href="https://twitter.com/?lang=es"><img class="redsocial--img" src="../images/twiiter.svg" alt=""></a>
                    </div>
                </div>
                <div class="contenedor--pagos">
                    <img class="img--logo__pago" src="../images/mastercard.png" alt="">
                    <img class="img--logo__pago" src="../images/paypal.png" alt="">
                    <img class="img--logo__pago" src="../images/maestro.png" alt="">
                    <img class="img--logo__pago" src="../images/visa.png" alt="">

                </div>
            </div>
        </div>
        <div class="contenedor--terminos">
            <p>Copyright © 2023 Peliculas Copyright. Todos los derechos reservados. Términos y condiciones. Política de privacidad.</p>
        </div>
    </footer>

</body>
</html>